#cart-page {
  overflow-x: hidden;
}

.cart-page__container.active .container__empty__wrap {
  display: none;
}

.cart-page__container.active #cart-content {
  display: flex;
}

.cart-page__container:not(.active) .container__empty__wrap {
  display: flex;
}

.cart-page__container:not(.active) #cart-content {
  display: none;
}

.cart-page__container__banner {
  position: relative;
  width: 100%;
  min-height: 35vh;
  background: url("../../../assets/img/banner-cart.jpg") no-repeat center center /
    cover;
}

/* cart - empty status */
.container__empty__wrap {
  padding: 60px;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.container__empty__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

/* cart - empty status - heading text */
.container__empty__wrap div:nth-child(1) h2 {
  font-weight: bold;
  font-size: 5vw;
  color: var(--deep-slate-color);
  text-align: center;
  line-height: 1.2em;
}

/* cart - empty status - visit store button */
.container__empty__wrap div:nth-child(2) {
  margin: 20px 0;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.visit__store__button__link {
  padding: 15px 30px;
  border: 2px solid var(--deep-slate-color);
  font-size: 1rem;
  color: var(--deep-slate-color);
  background-color: #f3f6f700;
  border-radius: 5px;
  overflow: hidden;
}

.container__empty__wrap div:nth-child(2):hover {
  background-color: var(--mint-green-color);
  border-radius: 5px;
}

.container__empty__wrap div:nth-child(2):hover .visit__store__button__link {
  color: var(--frost-white-color);
  border: 2px solid var(--frost-white-color);
}

/* cart - empty status - back home button */
.back__home__button {
  text-align: center;
  width: 200px;
  margin: 20px 0;
}

.back__home__button__link {
  padding: 5px 10px;
  font-size: 1.2rem;
  color: var(--slate-gray-color);
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: var(--deep-slate-color);
  transition: 0.2s ease-in-out;
}

.back__home__button__link:hover {
  gap: 15px;
  color: var(--mint-green-color);
  border-color: var(--mint-green-color);
}

/* cart - not empty status */
#cart-content {
  display: none;
  flex-direction: column;
  padding: 0 50px 20px 50px;
  margin: 20px 0;
  animation: 1s fadeIn ease-in-out;
}

.cart-content__heading {
  padding: 5px 0;
  border-bottom: 2px solid var(--frost-white-color);
  margin-bottom: 20px;
}

.cart-content__heading h2 {
  font-size: 2.5em;
}

.cart-content__container {
  display: flex;
  justify-content: center;
}

/* cart - not empty status - cart list */
.cart-content__container__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.cart-content__container__table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.cart-content__container__table td[data-label="Thumbnail"] img {
  width: 100px;
}

.cart-content__container__table td[data-label="Action"] i {
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.cart-content__container__table td[data-label="Action"] i:hover {
  color: var(--mint-green-color);
}

.cart-content__container__table thead th {
  background: var(--deep-slate-color);
  color: var(--frost-white-color);
  text-align: center;
  padding: 8px;
}
.cart-content__container__table tbody th,
.cart-content__container__table tbody td {
  border: 1px solid var(--frost-white-color);
  padding: 8px;
  font-weight: 500;
}

.cart-content__container__table input[type="number"] {
  width: 50px;
  text-align: center;
}

/* cart - not empty status - cart checkout form */
.cart-content__container__checkoutForm {
  padding: 0 30px;
}

.cart-content__container__checkoutForm__bill {
  width: 100%;
}

.cart-content__container__checkoutForm__heading {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.cart-content__container__checkoutForm__bill table td {
  padding: 20px 0;
}

.cart-content__container__checkoutForm__bill table td:first-child {
  font-weight: 500;
  font-size: 1.1em;
  text-align: left;
}

.cart-content__container__checkoutForm__bill table td:last-child {
  text-align: justify;
  padding-left: 30px;
}

.button-to-checkout {
  margin-top: 50px;
}

.button-to-checkout a {
  background: var(--mint-green-color);
  color: #fff;
  text-align: center;
  padding: 15px 30px;
  font-weight: bold;
  border-radius: 5px;
}

[data-label="Product Title"] {
  cursor: pointer;
}

[data-label="Product Title"] a {
  color: var(--deep-slate-color);
}

[data-label="Product Title"]:hover > a {
  color: var(--mint-green-color);
}
