@media(min-width: 1024px) {
    .home__banner {
        background-image: url("../../../assets/img/banner-blog-page.png");
        min-height: 515px;
        height: 55vh;
    }
}

@media (min-width: 768px) {
    .home__banner {
        background-image: url("../../../assets/img/banner-blog-page-ipad.png");
        height: 490px;
    }
}

.home__banner {
    .home__banner {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../../assets/img/banner-blog-page-mobile.png");
        height: 312px;
    }
}    