* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

input {
  outline: none;
}

/* color */
:root {
  --quantity: 8;
  --black-color: #252327;
  --white-color: #ffffff;
  --gray-white-color: #f3f6f7;
  --green-color: #5cd799;
  --gray-color: #888888;
  --controls-width: 30px;
}

@property --search-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #888;
}

@property --nav-carousel-item {
  syntax: "<number>";
  inherits: false;
  initial-value: 3;
}

/* products */
.product-item {
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid var(--gray-white-color);
  width: 100%;
  cursor: pointer;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-item__image img {
  width: 100%;
}
.product-item__title h3 {
  font-size: 1em;
  text-align: center;
}

.product-item__author h4 {
  font-size: 0.8em;
  color: var(--gray-color);
  text-align: center;
}

.product-item__price h4 {
  font-size: 1em;
  text-align: center;
}

.product-item__button {
  display: block;
  background: var(--green-color);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.5s ease;
}
.product-item__button span,
.product-item__button i {
  margin: 0 5px;
  color: var(--white-color);
}

.product-item__button:hover {
  transform: scale(1.05);
  background: var(--black-color);
}

/* header */
.header {
  position: fixed;
  inset: 0;
  height: 94px;
  padding: 0 50px;
}

.header,
.header__nav,
.header__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-white-color);
}

.header__nav a {
  padding: 10px 20px;
  color: var(--black-color);
}

.header__nav__list {
  margin: 0;
  padding: 0;
  font-weight: 500;
  justify-content: center;
}

.header__nav__list > li + li {
  margin-left: 20px;
}

.header__nav__list > li:hover > a {
  color: var(--green-color);
}

.header__nav__logo > a > img {
  width: 199px;
}

.header__nav__list,
.header__nav {
  flex: 1;
}

.header__nav__elementor--item {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.header__nav__elementor--item.notify:after {
  content: "0";
  position: absolute;
  inset: 6px 0 0 32px;
  width: 18px;
  line-height: 17px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--green-color);
  color: var(--gray-white-color);
  font-size: 8px;
  font-weight: 700;
}

.header__nav_list--dropdown {
  position: absolute;
  inset: calc(100% + 12px) 0 0 50%;
  width: min(100vw, 800px);
  height: 420px;
  background: #ffff;
  border-radius: 5px;
  transform: translateX(-50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__nav_list--dropdown:after {
  content: "";
  position: absolute;
  inset: -15px 0 0 50%;
  width: 50px;
  height: 20px;
  background: #fff;
  transform: translateX(-50%);
  clip-path: polygon(0%100%, 50%0, 100%100%);
}

.header__nav_list--dropdown:before {
  content: "";
  position: absolute;
  inset: -15px 0 0 50%;
  width: 100%;
  height: 50px;
  transform: translateX(-50%);
  z-index: -1;
}

.header__nav_list--dropdown__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-right: 2px solid rgba(200, 200, 200, 0.1);
}

.header__nav_list--dropdown__sidebar__title {
  text-align: center;
  margin-bottom: 10px;
}

.header__nav_list--dropdown__sidebar__list {
  padding: 0;
}

.header__nav_list--dropdown__sidebar__list > li {
  padding: 5px;
  font-weight: 400;
}

.header__nav_list--dropdown__sidebar__list > li:hover > a {
  color: var(--green-color);
}

.header__nav_list--dropdown__sidebar__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
}

.header__nav_list--dropdown__sidebar__link span {
  font-size: 1em;
  text-wrap: nowrap;
  margin: 0 10px;
}

.header__nav_list--dropdown__sidebar__link:hover {
  color: var(--green-color);
}

.header__nav_list--dropdown__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--search-color);
  padding: 2px 6px;
  margin-right: 15px;
}

.header__nav_list--dropdown__search i {
  color: var(--search-color);
}

.header__nav_list--dropdown__search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  margin: 0 10px;
  color: var(--search-color);
}

::placeholder {
  color: var(--search-color);
}

.header__nav_list--dropdown__search:focus-within,
.header__nav_list--dropdown__search:focus-within > i,
.header__nav_list--dropdown__search:focus-within > input,
.header__nav_list--dropdown__search:focus-within ::placeholder {
  --search-color: #111;
}

.header__nav_list--dropdown__content {
  text-align: center;
}

/* navbar carousel */
.header__nav_list--dropdown__carousel {
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.header__nav_list--dropdown__carousel__slider {
  display: flex;
  align-items: center;
  padding: 20px 0;
  transition: 0.7s ease-in-out;
}

.header__nav_list--dropdown__carousel__wrapper {
  position: relative;
}

.header__nav_list--dropdown__carousel__controls {
  position: absolute;
  inset: 50% 0 0 -2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.header__nav_list--dropdown__carousel__controls > button {
  width: var(--controls-width);
  aspect-ratio: 1 / 1;
  background: var(--green-color);
  border-radius: 50%;
  color: var(--white-color);
  margin: 0 -15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* visibale - invisible - dropdown*/
.header__nav__list li > :not(a) {
  animation: fadeIn 0.3s ease-in-out forwards;
  transform-origin: top center;
}

.header__nav__list li:hover > :not(a) {
  display: block;
}

.header__nav__list li:not(:hover) > :not(a) {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.header__nav__elementor > button {
  position: relative;
}

.header__nav__elementor__dropdown {
  position: absolute;
  top: 100%;
  left: -140%;
  display: none;
  width: min(100vw, 300px);
  min-height: 250px;
  background: var(--white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid var(--gray-white-color);
  padding: 10px;
  align-items: center;
  animation: fadeAndScale 0.3s ease-in-out;
  transform-origin: top right;
  transform: translateX(-50%);
}

.header__nav__elementor__dropdown:after {
  --w: 20px;
  content: "";
  position: absolute;
  inset: calc(var(--w) * -0.5) 0 0 84%;
  width: calc(var(--w) * 1.7);
  height: var(--w);
  clip-path: polygon(0%100%, 50%0, 100%100%);
  background-color: #fff;
}

.header__nav__elementor__dropdown img {
  width: 100%;
}

.header__nav__elementor > button:hover > .header__nav__elementor__dropdown {
  display: flex;
}

/* animation */

@keyframes fadeAndScale {
  from {
    opacity: 0;
    transform: translateX(-50%) scale(0.7);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
