.header {
  position: fixed;
  inset: 0;
  height: 94px;
  padding: 0 50px;
}

.header,
.header__nav,
.header__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--gray-white-color);
}

.header__nav a {
  padding: 10px 20px;
  color: var(--black-color);
}

.header__nav__list {
  margin: 0;
  padding: 0;
  font-weight: 500;
  justify-content: center;
}

.header__nav__list > li + li {
  margin-left: 20px;
}

.header__nav__list > li:hover > a {
  color: var(--green-color);
}

.header__nav__logo > a > img {
  width: 199px;
}

.header__nav__list,
.header__nav {
  flex: 1;
}

.header__nav__elementor--item {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  padding: 20px;
}

.header__nav__elementor--item:after {
  content: "0";
  position: absolute;
  inset: 6px 0 0 32px;
  width: 18px;
  line-height: 17px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--green-color);
  color: var(--gray-white-color);
  font-size: 8px;
  font-weight: 700;
}

.header__nav_list--dropdown {
  position: absolute;
  inset: calc(100% + 12px) 0 0 50%;
  width: min(100vw, 800px);
  height: 420px;
  background: #ffff;
  border-radius: 5px;
  transform: translateX(-50%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header__nav_list--dropdown:after {
  content: "";
  position: absolute;
  inset: -15px 0 0 50%;
  width: 50px;
  height: 20px;
  background: #fff;
  transform: translateX(-50%);
  clip-path: polygon(0%100%, 50%0, 100%100%);
}
.header__nav_list--dropdown__sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__nav_list--dropdown__sidebar__title {
  text-align: center;
  margin-bottom: 10px;
}

.header__nav_list--dropdown__sidebar__list {
  padding: 0;
}

.header__nav_list--dropdown__sidebar__list > li {
  padding: 5px;
  font-weight: 400;
}

.header__nav_list--dropdown__sidebar__list > li:hover > a {
  color: var(--green-color);
}

.header__nav_list--dropdown__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--search-color);
  padding: 2px 6px;
  margin-right: 15px;
}

.header__nav_list--dropdown__search i {
  color: var(--search-color);
}

.header__nav_list--dropdown__search input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  margin: 0 10px;
  color: var(--search-color);
}

::placeholder {
  color: var(--search-color);
}

.header__nav_list--dropdown__search:focus-within,
.header__nav_list--dropdown__search:focus-within > i,
.header__nav_list--dropdown__search:focus-within > input,
.header__nav_list--dropdown__search:focus-within ::placeholder {
  --search-color: #111;
}

.header__nav_list--dropdown__content {
  text-align: center;
}

/* navbar carousel */
.header__nav_list--dropdown__carousel {
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.header__nav_list--dropdown__carousel__slider {
  display: flex;
  align-items: center;
  padding: 20px 0;
  transition: 0.7s ease-in-out;
}

.header__nav_list--dropdown__carousel__wrapper {
  position: relative;
}

.header__nav_list--dropdown__carousel__controls {
  position: absolute;
  inset: 50% 0 0 -2px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50%);
}

.header__nav_list--dropdown__carousel__controls > button {
  width: var(--controls-width);
  aspect-ratio: 1 / 1;
  background: var(--green-color);
  border-radius: 50%;
  color: var(--white-color);
  margin: 0 -15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* visibale - invisible - dropdown*/
.header__nav__list li > :not(a) {
  animation: fade 0.3s ease-in-out;
  transform-origin: top center;
  display: none;
}

.header__nav__list li:hover > :not(a) {
  display: block;
}
